<p id="notice">
	<%= notice %>
</p>
<h1 class="text-center stitle">Your job preferences</h1>
<br />
<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<div class="row">
			<div class="col-md-5 bluetext">
				Job Time Type
			</div>
			<div class="col-md-1">
				:
			</div>
			<div class="col-md-6 blacktext">
				<%= @applicant_job_preference.prefer_job_time %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 bluetext">
				Starting Available Date
			</div>
			<div class="col-md-1">
				:
			</div>
			<div class="col-md-6 blacktext">
				<%= @applicant_job_preference.prefer_start_available %>
			</div>
		</div>

		<div class="row">
			<div class="col-md-5 bluetext">
				Expected Salary
			</div>
			<div class="col-md-1">
				:
			</div>
			<div class="col-md-6 blacktext">
				<%= @applicant_job_preference.prefer_expected_salary %>
			</div>
		</div>

		<div class="row">
			<div class="col-md-5 bluetext">
				Location
			</div>
			<div class="col-md-1">
				:
			</div>
			<div class="col-md-6 blacktext">
				<%= @applicant_job_preference.location.name %>
			</div>
		</div>
		<br />
		<!--<p>

		<%= link_to "#{@applicant_job_preference.applicant.applicant_name}", [@applicant_job_preference.applicant.user,@applicant_job_preference.applicant] %>
		</p>-->

		<%= link_to 'Edit', edit_user_applicant_applicant_job_preference_path({:user_id=>@applicant_job_preference.applicant.user.id,:applicant_id=>@applicant_job_preference.applicant.id,:id=>@applicant_job_preference.id}),:class=>"btn btn-primary" %>
	</div>
</div>
<%= render :partial=>"layouts/applicant_sidebars"%>
