<p id="notice"><%= notice %></p>
<h1 class="text-center text-primary">Edit your job preferences</h1>

<p>
  <b>Prefer job time:</b>
  <%= @applicant_job_preference.prefer_job_time %>
</p>

<p>
  <b>Prefer start available:</b>
  <%= @applicant_job_preference.prefer_start_available %>
</p>

<p>
  <b>Prefer expected salary:</b>
  <%= @applicant_job_preference.prefer_expected_salary %>
</p>

<p>
  
  <%= link_to "#{@applicant_job_preference.applicant.applicant_name}", [@applicant_job_preference.applicant.user,@applicant_job_preference.applicant] %>
</p>

<p>
  <b>Location:</b>
  <%= @applicant_job_preference.location.name %>
</p>


<%= link_to 'Edit', edit_user_applicant_applicant_job_preference_path({:user_id=>@applicant_job_preference.applicant.user.id,:applicant_id=>@applicant_job_preference.applicant.id,:id=>@applicant_job_preference.id}) %> |

<%= render :partial=>"layouts/applicant_sidebars"%>
