<h1 class="text-center stitle">Listing contact_messages</h1>

<table class="table table-bordered">
  <tr class="title">
    <th>Name</th>
    <th>Email</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contact_messages.each do |contact_message| %>
  <tr class="content">
    <td><%= contact_message.name %></td>
    <td><%= contact_message.email %></td>
    <td><%= contact_message.content %></td>
    <td><%= link_to 'Show', contact_message %></td>
    <td><%= link_to 'Edit', edit_contact_message_path(contact_message) %></td>
    <td><%= link_to 'Destroy', contact_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<!--<%= link_to 'New Contact message', new_contact_message_path %>-->
<%= sidebar_chooser(current_user)%>
