<h1 class="text-center stitle">Listing applicants</h1>

	<% @applicants.each do |applicant|%>
	
			<div class="row">
				<div class="col-md-3 bluetext">
					Name
				</div>
				<div class="col-md-1">
					:
				</div>
				<div class="col-md-6 blacktext">
					<%= applicant.applicant_name %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 bluetext">
					NRC
				</div>
				<div class="col-md-1">
					:
				</div>
				<div class="col-md-6 blacktext">
					<%= applicant.applicant_nrc %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 bluetext">
					Email
				</div>
				<div class="col-md-1">
					:
				</div>
				<div class="col-md-6 blacktext">
					<%= applicant.applicant_contact_email %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 bluetext">
					Gender
				</div>
				<div class="col-md-1">
					:
				</div>
				<div class="col-md-6 blacktext">
					<%= applicant.applicant_gender %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 bluetext">
					Marital Status
				</div>
				<div class="col-md-1">
					:
				</div>
				<div class="col-md-6 blacktext">
					<%= applicant.applicant_marital_status %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 bluetext">
					Date of birth
				</div>
				<div class="col-md-1">
					:
				</div>
				<div class="col-md-6 blacktext">
					<%= applicant.applicant_dob %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 bluetext">
					Address
				</div>
				<div class="col-md-1">
					:
				</div>
				<div class="col-md-6 blacktext">
					<%= applicant.applicant_address %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 bluetext">
					Phone
				</div>
				<div class="col-md-1">
					:
				</div>
				<div class="col-md-6 blacktext">
					<%= applicant.applicant_phone_number %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 bluetext">
					Language
				</div>
				<div class="col-md-1">
					:
				</div>
				<div class="col-md-6 blacktext">
					<%= applicant.applicant_language %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 bluetext">
					Skills
				</div>
				<div class="col-md-1">
					:
				</div>
				<div class="col-md-6 blacktext">
					<%= applicant.applicant_skills %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 bluetext">
					Description
				</div>
				<div class="col-md-1">
					:
				</div>
				<div class="col-md-6 blacktext">
					<%= applicant.applicant_description %>
				</div>
			</div>
			<br />
			<%= if can? :show,applicant then link_to 'Show', [applicant.user,applicant], :class=>"btn btn-primary" end%>
			<!--<%= if can? :edit,applicant then link_to 'Edit', edit_user_applicant_path([@applicant]), :class=>"btn btn-primary" end%>-->
			<%= if can? :destroy,applicant then link_to 'Destroy', user_applicant_path(:user_id=>applicant.user_id,:id=>applicant.id,:method=>:delete),:class=>"btn btn-primary" end%>
		
			
		<hr />
	
	<% end %>

<%= will_paginate @applicants, :renderer=> BootstrapPagination::Rails %>

<br />
<%= sidebar_chooser(current_user)%>
