<div class="container">
	<div class="row">
		<div class="col-md-8">
			<p id="notice">
				<%= notice %>
			</p>

			<h3 class="stitle">User's Profile</h3>

			<br />
			<div class="row">
				<div class="col-md-4 bluetext">
					Name
				</div>
				<div class="col-md-1">
					:
				</div>
				<div class="col-md-6 blacktext">
					<%= @applicant.applicant_name %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 bluetext">
					NRC
				</div>
				<div class="col-md-1">
					:
				</div>
				<div class="col-md-6 blacktext">
					<%= @applicant.applicant_nrc %>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 bluetext">
					Email
				</div>
				<div class="col-md-1">
					:
				</div>
				<div class="col-md-6 blacktext">
					<%= @applicant.applicant_contact_email %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 bluetext">
					Gender
				</div>
				<div class="col-md-1">
					:
				</div>
				<div class="col-md-6 blacktext">
					<%= @applicant.applicant_gender %>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 bluetext">
					Marital Status
				</div>
				<div class="col-md-1">
					:
				</div>
				<div class="col-md-6 blacktext">
					<%= @applicant.applicant_marital_status %>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 bluetext">
					Date of Birth
				</div>
				<div class="col-md-1">
					:
				</div>
				<div class="col-md-6 blacktext">
					<%= @applicant.applicant_dob %>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 bluetext">
					Address
				</div>
				<div class="col-md-1">
					:
				</div>
				<div class="col-md-6 blacktext">
					<%= @applicant.applicant_address %>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 bluetext">
					Phone
				</div>
				<div class="col-md-1">
					:
				</div>
				<div class="col-md-6 blacktext">
					<%= @applicant.applicant_phone_number %>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 bluetext">
					Language
				</div>
				<div class="col-md-1">
					:
				</div>
				<div class="col-md-6 blacktext">
					<%= @applicant.applicant_language %>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 bluetext">
					Skills
				</div>
				<div class="col-md-1">
					:
				</div>
				<div class="col-md-6 blacktext">
					<%= @applicant.applicant_skills %>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 bluetext">
					Description
				</div>
				<div class="col-md-1">
					:
				</div>
				<div class="col-md-6 blacktext">
					<%= @applicant.applicant_description %>
				</div>
			</div>
			<br />

			<%= link_to 'Edit', edit_user_applicant_path({:user_id=>@applicant.user,:id=>@applicant}),:class=>"btn btn-primary" %>
		</div>
		<div class="col-md-3 col-md-offset-1 company-logo"></div>
		<%= image_tag @applicant.photo.url(:medium),:class=>"img-rounded pull-right box-shadow-pay-gray",:width=>"100px",:height=>"100px"%>
	</div>
</div>
<%= render :partial=>"layouts/applicant_sidebars"%>
