<h1 class="text-center stitle">Listing applicant_education_histories</h1>

<table class="table table-bordered">
  <tr class="title">
    <th>Institute Name</th>
    <th>Location</th>
    <th>Diploma/Certificate</th>
    <th>Course of Study</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @applicant_education_histories.each do |applicant_education_history| %>
  <tr class="content">
    <td><%= applicant_education_history.institute_name %></td>
    <td><%= applicant_education_history.location %></td>
    <td><%= applicant_education_history.diploma_degree_certificate %></td>
    <td><%= applicant_education_history.course_of_study %></td>
    <td><%= link_to 'Show', [applicant_education_history.applicant.user,applicant_education_history.applicant,applicant_education_history] %></td>
    <td><%= link_to 'Edit', edit_user_applicant_applicant_education_history_path({:user_id=>applicant_education_history.applicant.user,:applicant_id => applicant_education_history.applicant, :id => applicant_education_history}) %></td>
    <td><%= link_to 'Destroy', applicant_education_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New', new_user_applicant_applicant_education_history_path, :class=>"btn btn-primary" %>
<%= render :partial=>"layouts/applicant_sidebars"%>
