<%= form_for([@company.user,@company]) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :com_name %><br />
    <%= f.text_field :com_name %>
  </div>
  <div class="field">
    <%= f.label :com_logo_name %><br />
    <%= f.text_field :com_logo_name %>
  </div>
  <div class="field">
    <%= f.label :com_email %><br />
    <%= f.text_field :com_email %>
  </div>
  <div class="field">
    <%= f.label :com_address %><br />
    <%= f.text_field :com_address %>
  </div>
  <div class="field">
    <%= f.label :com_web_url %><br />
    <%= f.text_field :com_web_url %>
  </div>
  <div class="field">
    <%= f.label :com_phone_number %><br />
    <%= f.text_field :com_phone_number %>
  </div>
  <div class="field">
    <%= f.label :com_fax_number %><br />
    <%= f.text_field :com_fax_number %>
  </div>
  <div class="field">
    <%= f.label :com_description %><br />
    <%= f.text_area :com_description %>
  </div>
  <div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
