

 <div class="container">
            <header class="row">
              <div class="col-md-8">
              	<p id="notice" class="form-error"><%= notice %></p>
                <h1 class="company-name"><%= @company.com_name %></h1>
                <div class="company-logoname">
                  <%= @company.com_logo_name %>
                </div>
              </div>
              <div class="col-md-3 col-md-offset-1 company-logo">
                <%= image_tag @company.photo.url(:medium),:class=>"img-rounded pull-right box-shadow-pay-gray",:width=>"100px",:height=>"100px"%>
              </div>
            </header>
            <article class="company-meta-data">
              <section class="row">
                <div class="col-md-8 company-description">
                  <h4>About</h4>
                  <section>
                    <%= @company.com_description %>
                  </section>
                </div>
              </section>
              <br/>
              <section class="company-contact-info">
                <div class="company-email">Email : <%= @company.com_email %></div>
                <div class="company-weburl">Website : <%= link_to @company.com_web_url, @company.com_web_url %></div>
                <div class="company-phone-number">Phone: <%= @company.com_phone_number %></div>
                <div class="company-faxnumber">Fax: <%= @company.com_fax_number %></div>
                <div class="company-address">
                  <h4>Address</h4>
                  <%= @company.com_address %>
                </div>
              </section>
              	<%= if can? :edit,@company then link_to 'Edit', edit_user_company_path(@company.user,@company) end%>
            </article>
            <hr/>
            <hr />
            <article class="company-own-jobpost">
              <h3>Job Posts by AWITD Company</h3>
              <table class="table">

              <!-- Table header -->
            
              <thead>
                <tr>
                  <th scope="col">Job Type</th>
                
                  <th scope="col">Job Title</th>

                  <th scope="col">Company</th>
                
                  <th scope="col">Start Date</th>
                  
                  <th scope="col">End Date</th>
                
                  <th scope="col">Location</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
            
              <!-- Table footer -->
            
              <tfoot>
               <%= will_paginate @job_posts, :renderer=> BootstrapPagination::Rails %>
              </tfoot>
            
              <!-- Table body -->
            
              <tbody>
              	<%@job_posts.each do |jp|%>
                <tr>
                  <td><%= jp.job_type%></td>
                  <td><%= link_to "#{jp.job_post_title}",[current_user,@company,jp]%></td>
                  <td><%= link_to "#{jp.company.com_name}",[current_user,@company]%></td>
                  <td><%= jp.job_post_start_date%></td>
                  <td><%= jp.job_post_end_date%></td>
                  <td><%= jp.location_id %></td>
        			<td><%= if can? :destroy,jp then link_to "Destroy",jp,:method=>:delete,:data=> { confirm: 'Are you sure?' } end%></td>
                <%end%>
              </tbody>

            </table>
            </article>          
          </div>
          <%=sidebar_chooser(current_user)%>
