<div class="container">
	<header class="row">
		<div class="col-md-8">
			<p id="notice" class="form-error">
				<%= notice %>
			</p>
			<h1 class="company-name"><%= @company.com_name %></h1>
			<!--<div class="company-logoname">
			<%= @company.com_logo_name %>
			</div>-->
			<article class="company-meta-data">
				<section class="row">
					<div class="col-md-8 company-description">
						<!--<h4>About</h4>-->
						<section>
							<%= @company.com_description %>
						</section>
					</div>
				</section>
				<br/>
				<section class="company-contact-info">
					<div class="row">
						<div class="col-md-2 bluetext">
							Email
						</div>
						<div class="col-md-1">
							:
						</div>
						<div class="col-md-6 blacktext">
							<%= @company.com_email %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2 bluetext">
							Website
						</div>
						<div class="col-md-1">
							:
						</div>
						<div class="col-md-6">
							<%= link_to @company.com_web_url, @company.com_web_url, :class=>"text-danger" %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2 bluetext">
							Phone
						</div>
						<div class="col-md-1">
							:
						</div>
						<div class="col-md-6 blacktext">
							<%= @company.com_phone_number %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2 bluetext">
							Fax
						</div>
						<div class="col-md-1">
							:
						</div>
						<div class="col-md-6 blacktext">
							<%= @company.com_fax_number %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2 bluetext">
							Address
						</div>
						<div class="col-md-1">
							:
						</div>
						<div class="col-md-6 blacktext">
							<%= @company.com_address %>
						</div>
					</div>					
				</section>
				<br />
				<%= if can? :edit,@company then link_to 'Edit', edit_user_company_path(@company.user,@company), :class=>"btn btn-primary" end%>
			</article>
		</div>

		<div class="col-md-3 col-md-offset-1 company-logo">
			<%= image_tag @company.photo.url(:medium),:class=>"img-rounded pull-right box-shadow-pay-gray",:width=>"100px",:height=>"100px"%>
		</div>
	</header>
	<hr />
	<!--<article class="company-own-jobpost">
	<h3>Job Posts by AWITD Company</h3>
	<table class="table">-->

	<!-- Table header -->

	<!--<thead>

	<tr>
	<th scope="col">Job Type</th>

	<th scope="col">Job Title</th>

	<th scope="col">Company</th>

	<th scope="col">Start Date</th>

	<th scope="col">End Date</th>

	<th scope="col">Location</th>
	<th scope="col">Delete</th>
	</tr>
	</thead>-->
	<!-- Table footer -->

	<!--<tfoot>
	<%= will_paginate @job_posts, :renderer=> BootstrapPagination::Rails %>
	</tfoot>-->

	<!-- Table body -->

	<!--<tbody>
	<%@job_posts.each do |jp|%>
	<tr>
	<td><%= jp.job_type%></td>
	<td><%= show_path_for_job_post(current_user,jp)%></td>
	<td><%= jp.company.com_name %></td>
	<td><%= jp.job_post_start_date%></td>
	<td><%= jp.job_post_end_date%></td>
	<td><%= jp.location_id %></td>
	<td><%= if can? :destroy,jp then link_to "Destroy",jp,:method=>:delete,:data=> { confirm: 'Are you sure?' } end%></td>
	<%end%>
	</tbody>

	</table>
	</article>-->
</div>
<%= sidebar_chooser(current_user)%>
