<h1 class="text-center stitle">Recommended job_posts</h1>

<p id="notice" class="form-error">
	<%= notice %>
</p>
<table class="table table-bordered">
	<tr class="title">
		<th><strong>Job Time Type</strong></th>
		<th><strong>Job Category</strong></th>
		<th><strong>Job Post</strong></th>
		<th><strong>Start Date</strong></th>
		<th><strong>End Date</strong></th>
		<th><strong>Job Requirement</strong></th>
		<th><strong>Location</strong></th>
		<th></th>
	</tr>
	
<%@applicant_job_preferences.each do|ajp|%>
<% JobPost.recommend(ajp).each do |job_post| %>
<tr class="content">
	<td><%= job_post.job_type %></td>
	<td><%= job_post.category.name%></td>
	<td><%= link_to"#{job_post.job_post_title}",[current_user,job_post.company,job_post]%></td>
	<td><%= job_post.job_post_start_date%></td>
	<td><%= job_post.job_post_end_date%></td>
	<td><%= job_post.job_post_requirement.truncate(300)%></td>
	<td><%= job_post.location.name%></td>
	<td><%= apply_job_link(@applicant,job_post)%></td>
</tr>
<% end %>
<%end%>
</table>

<%= render :partial=>"layouts/applicant_sidebars"%>

