<p id="notice"><%= notice %></p>

<p>
  <b>Job post title:</b>
  <%= @job_post.job_post_title %>
</p>

<p>
  <b>Job post gender:</b>
  <%= @job_post.job_post_gender %>
</p>

<p>
  <b>Job post:</b>
  <%= @job_post.job_post_description %>
</p>

<p>
  <b>Job post start date:</b>
  <%= @job_post.job_post_start_date %>
</p>

<p>
  <b>Job post end date:</b>
  <%= @job_post.job_post_end_date %>
</p>

<p>
  <b>Job post salary:</b>
  <%= @job_post.job_post_basic_salary %>
</p>

<p>
  <b>Job post requirement:</b>
  <%= @job_post.job_post_requirement %>
</p>

<p>
  <b>Company:</b>
  <%= link_to "#{@job_post.company.com_name}",[@job_post.company.user,@job_post.company]%>
</p>

<p>
  <b>Category:</b>
  <%= @job_post.category.name %>
</p>

<p>
  <b>Location:</b>
  <%= @job_post.location.name %>
</p>


<%= link_to 'Edit', edit_user_company_job_post_path({:user_id=>@job_post.company.user.id,:company_id=>@job_post.company.id,:id=>@job_post.id}) %> |
<%= link_to 'Back', user_company_job_posts_path %>
