<h1>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <%if can? :manage,Category%>
    <td><%= link_to 'Show', user_category_path(:user_id=>current_user.id,:id=>category.id) %></td>
    <td><%= link_to 'Edit', edit_user_category_path(:user_id=>current_user.id,:id=>category.id) %></td>
    <td><%= link_to 'Destroy', user_category_path(:user_id=>current_user.id,:id=>category.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @categories, :renderer=> BootstrapPagination::Rails %>
<%= link_to 'New Category', new_user_category_path(:user_id=>current_user.id) %>

<%= sidebar_chooser(current_user)%>

