<h1 class="text-center stitle">Welcome from applicant job history</h1>

<%@applicant_job_histories.each do |ajh|%>
<div class="row">
	<div class="col-md-2 bluetext">
		Company Name
	</div>
	<div class="col-md-1">
		:
	</div>
	<div class="col-md-6 blacktext">
		<%= ajh.company_name %>
	</div>
</div>
<div class="row">
	<div class="col-md-2 bluetext">
		Job Title
	</div>
	<div class="col-md-1">
		:
	</div>
	<div class="col-md-6 blacktext">
		<%= ajh.job_title %>
	</div>
</div>
<div class="row">
	<div class="col-md-2 bluetext">
		Address
	</div>
	<div class="col-md-1">
		:
	</div>
	<div class="col-md-6 blacktext">
		<%= ajh.address %>
	</div>
</div>
<div class="row">
	<div class="col-md-2 bluetext">
		Start Date
	</div>
	<div class="col-md-1">
		:
	</div>
	<div class="col-md-6 blacktext">
		<%= ajh.start_date %>
	</div>
</div>
<div class="row">
	<div class="col-md-2 bluetext">
		End Date
	</div>
	<div class="col-md-1">
		:
	</div>
	<div class="col-md-6 blacktext">
		<%= ajh.end_date %>
	</div>
</div>
<div class="row">
	<div class="col-md-2 bluetext">
		Reason
	</div>
	<div class="col-md-1">
		:
	</div>
	<div class="col-md-6 blacktext">
		<%= ajh.reason %>
	</div>
</div>

<hr/>

<%end%>
<%= will_paginate @applicant_job_histories, :renderer=> BootstrapPagination::Rails %>
<%= link_to 'New', new_user_applicant_applicant_job_history_path(@user,@applicant), :class => "btn btn-primary"%>
<%= render :partial=>"layouts/applicant_sidebars"%>
