<h1>Welcome from applicant job history</h1>

<%@applicant_job_histories.each do |ajh|%>
<p>
  <b>Company name:</b>
  <%= ajh.company_name %>
</p>

<p>
  <b>Job title:</b>
  <%= ajh.job_title %>
</p>

<p>
  <b>Address:</b>
  <%= ajh.address %>
</p>

<p>
  <b>Start date:</b>
  <%= ajh.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= ajh.end_date %>
</p>

<p>
  <b>Reason:</b>
  <%= ajh.reason %>
</p>
<hr/>

<%end%>
<%= link_to 'New', new_user_applicant_applicant_job_history_path(@user,@applicant) %>
<%= render :partial=>"layouts/applicant_sidebars"%>
