<h1 class="text-center stitle">Listing locations</h1>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<table>
			<tr style="background-color: #3A3B44">
				<th><strong>
				<center>
					Name
				</center></strong></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>

			<% @locations.each do |location| %>
			<tr style="background-color: <%= cycle("#777777", "#666666") %>" class="content">
				<td>
				<center>
					<%= location.name %>
				</center></td>
				<td><%= link_to 'Show', user_location_path(:user_id=>current_user.id,:id=>location.id) %></td>
				<td><%= link_to 'Edit', edit_user_location_path(:user_id=>current_user.id,:id=>location.id) %></td>
				<td><%= link_to 'Destroy', user_location_path(:user_id=>current_user.id,:id=>location.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>
		</table>

		<div class="text-center">
			<%= will_paginate @locations, :renderer=> BootstrapPagination::Rails %>
		</div>
		<%= link_to 'New Location', new_user_location_path(:user_id => current_user.id), :class=>"btn btn-primary" %>
	</div>
</div>
<%= sidebar_chooser(current_user)%>
