<p id="notice"><%= notice %></p>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="row">
			<div class="col-md-3 bluetext">
				Name
			</div>
			<div class="col-md-1">
				:
			</div>
			<div class="col-md-4 blacktext">
				<%= @location.name%>
			</div>
		</div>
		<br />
<%= link_to 'Edit', edit_user_location_path(@location,:user_id=>current_user.id),:class=>"btn btn-primary" %> 
<%= link_to 'Back', user_locations_path(:user_id=>current_user.id),:class =>"btn btn-primary" %>
</div>
</div>
<%= sidebar_chooser(current_user)%>
