<%= content_for :left_bar do%>
<nav>
	<ul class="sidenav-ul">
		<li>
			<%= link_to "Profile",[@company.user,@company], :class=>"btn btn-primary btn-lg btn-block" %>
		</li>
		<li>
			<%= unless @company.nil? then link_to 'My Job', user_company_job_posts_path({:user_id=>@company.user.id,:company_id=>@company.id}),:class=>'btn btn-primary btn-lg btn-block' end%>
		</li>

	</ul>
</nav>
<%end%>

<%= content_for :right_bar do%>
<ul class="sidenav-ul">
	<li>
		 <%= link_to 'Applied Applicant', user_company_applied_applicants_path({:user_id=>@company.user.id,:company_id=>@company.id}),:class=>'btn btn-warning'%>
	</li>
	<li>
		<%= unless @company.nil? then link_to 'Post a new Job', new_user_company_job_post_path({:user_id=>@company.user.id,:company_id=>@company.id}),:class=>'btn btn-warning' end%>
	</li>
</ul>

<%end%>