<!DOCTYPE html>
<html>
	 <head>
		<title>Job Match Basic</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
 	<body>
    <header class="header-gradient-pay">
      <img src="agnes.jpg" width="100px" height="100px" class="img-circle border-double-pay" />
      <span class="banner">AWITD Online Job Match System</span>
    </header>
    <div class="navbar navbar-inverse bg-gradient-pay">
      
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "AWITD Job Match", root_url ,:class=>'navbar-brand'%>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">View Job Posts<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <div class="row">
                  <div class="col-md-6 margin5">
                    <li><a href="#">All</a></li>
                    <li><a href="#">Accounting</a></li>
                    <li><a href="#">Admin / Human Resources</a></li>
                    <li><a href="#">Banking / Finance</a></li>
                    <li><a href="#">Beauty and Wellness / Health and Fitness</a></li>
                    <li><a href="#">Building and Construction</a></li>
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Education</a></li>
                    <li><a href="#">Engineering</a></li>
                    <li><a href="#">Hospitality / F and B</a></li>
                    <li><a href="#">Information Technology (IT)</a></li>
                    <li><a href="#">Insurance</a></li>
                    <li><a href="#">Management</a></li>
                    <li><a href="#">Manufacturing</a></li>
                  </div>
                  <div class="col-md-6">
                    <li><a href="#">Marketing / Public Relations</a></li>
                    <li><a href="#">Media and Advertising</a></li>
                    <li><a href="#">Medical Services</a></li>
                    <li><a href="#">Merchandising and Purchasing</a></li>
                    <li><a href="#">Professional Services</a></li>
                    <li><a href="#">Property</a></li>
                    <li><a href="#">Sales / Customer Service / Business Development</a></li>
                    <li><a href="#">Sciences / Laboratory / R and D</a></li>
                    <li><a href="#">Telecommunications</a></li>
                    <li><a href="#">Transportation / Logistics</a></li>
                    <li><a href="#">Others</a></li>
                  </div>
                </div>                      
              </ul>
            </li>

          </ul>
          <ul class="nav navbar-nav pull-right">
          <li class="pull-right">				
			<% unless user_signed_in? then%>
				<%= link_to "log in now",new_user_session_path,:class=>'btn btn-primary pull-right'%>
			<%else %>
			
				<div style="float: left; color: red!important;"><%=current_user.role%>Welcome <%= current_user.email %> !! </div>
				
				<%=  link_to "log out now",destroy_session_path(current_user),:class=>'btn btn-primary pull-right',:method=>:delete%>
			<%end%>
		  </li>
          </ul>
          </div><!--/.navbar-collapse -->
      
    </div>
	<%= yield %>
    
    <script src="jquery-1.9.0.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
