<!DOCTYPE html>
<html>
	 <head>
		<title>Job Match Basic</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
 	<body>
    <header class="header-gradient-pay">
      <img src="agnes.jpg" width="100px" height="100px" class="img-circle border-double-pay" />
      <span class="banner">AWITD Online Job Match System</span>
    </header>
    <div class="navbar navbar-inverse bg-gradient-pay">
      
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "AWITD Job Match", root_url ,:class=>'navbar-brand'%>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">View Job Posts<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <div class="row">
                  <div class="col-md-6 margin5">
                  <%Category.all_for_navigation.first.each do |a|%>
                   <li><%= link_to "#{a.name}",url_for(:controller=>'job_posts',:action=>'index',:category=>a.name)%></li>
            		<%end%>
                  </div>
                  <div class="col-md-6">
                     <%Category.all_for_navigation.second.each do |a|%> 
                   		<li><%= link_to "#{a.name}",url_for(:controller=>'job_posts',:action=>'index',:category=>a.name)%></li>
            		<%end%>
                    
                  </div>
                </div>                      
              </ul>
            </li>

          </ul>
          <ul class="nav navbar-nav pull-right">
          <li class="pull-right">				
			<% unless user_signed_in? then%>
				<%= link_to "log in now",new_user_session_path,:class=>'btn btn-primary pull-right'%>
			<%else %>
			
				<div style="float: left; color: red!important;"><%=current_user.role%>Welcome <%= current_user.email %> !! </div>
				
				<%=  link_to "log out now",destroy_session_path(current_user),:class=>'btn btn-primary pull-right',:method=>:delete%>
			<%end%>
		  </li>
          </ul>
          </div><!--/.navbar-collapse -->
      
    </div>
	<%= yield %>

  </body>
</html>
